* {
	font-family: "Roboto", "Calibri", "Arial";
}

html, body {
	margin: 0;
}

header {
	background-color: #39424e;
	padding-top: 20px;
	padding-bottom: 20px;
	padding-left: 40px;
}

header h1 {
	display: inline-block;
	margin: 31px 0px 31px 20px;
	text-transform: uppercase;
	color: white;
}

nav {
	background-color: #c04242;
}

section div.card:not(.notification) {
	min-height: 150px;
}

div.notification .row {
	margin-bottom: 0;
}

div.notification div.card-content {
	padding: 6px;
}

div.notification p {
	margin-top: 8px !important;
	color: white !important;
}

div.notification i {
	color: white !important;
}

.gray {
	background-color: #fbfbfb;
}

.inactive {
	cursor: not-allowed !important;
}

.delete-item {
	cursor: pointer;
}

img.item-big {
	width: 70%;
	margin-left: 15%;
}

.inline {
	display: inline-block;
}

.item-view {
	margin: 15px 0;
}

.item-view > img {
	width: 20%;
}

.item-view > div {
	display: inline-block;
	width: 79%;
	vertical-align: top;
	padding: 10px;
	padding-left: 18px;
}

/* tytuł przedmiotu */
.item-view > div > p:first-child {
	font-size: 1.2em;
	font-style: bold;
	line-height: 1.6em;
}

/* nazwa kategorii */
.item-view > div > p:nth-child(3) {
	text-align: right;
	margin-top: 5px;
	font-style: italic;
}

.item-view > div > div {
	margin-top: 20px;
}

/* cena */
.item-view > div > div >p:first-child {
	display: inline-block;
	font-size: 1.2em;
	font-style: bold;
}

/* dodaj do koszyka */
.item-view > div > div > a:nth-child(2) {
	/*display: inline-block;*/
	vertical-align: top;
	background-color: #d28320;
	color: white;
	padding-left: 8px;
	padding-right: 8px;
	float: right;
}

/* ikona koszyka */
.item-view > div > div > a:nth-child(2) > i {
	width: 30px;
	position: relative;
	top: +2px;
}

.fr {
	float: right;
}

.hr {
	width: 94%;
	height: 1.5px;
	background-color: lightslategray;
	margin-left: 3%;
}

.shop-cart-item {
	margin: 17px 0;
}

.shop-cart-item * {
	display: inline-block;
	font-size: 1.1em;
}

.shop-cart-item .shop-cart-button {
	width: 30px;
	height: 30px;
	color: white;
	background-color: cornflowerblue;
	font-weight: bold;
	border-radius: 100%;
	text-align: center;
	cursor: pointer;
}

.shop-cart-item .shop-cart-amount {
	font-size: 1em;
	background-color: white;
    width: 60px;
    text-align: center;
    border: 1px solid black;
    border-radius: 8px;
}

.shop-cart-item .shop-cart-total {
	width: 110px;
	text-align: right;
}

.shop-cart-item .delete-button {
	font-family: Arial;
	font-weight: bold;
	margin-left: 25px;
	color: red;
	cursor: pointer;
}

.shop-cart-summary {
	width: 40%;
	margin-top: 40px;
	margin-left: 60%;
	padding-right: 40px;
	text-align: right;
}

.shop-cart-summary > p {
	font-size: 1.15em;
	margin-bottom: 8px !important;
}

.shop-cart-summary > p > span {
	font-weight: bold;
}

#basket {
	float: right;
	margin-top: 40px;
	margin-right: 10px;
	font-weight: bold;
}

#basket p {
	display: inline-block;
}

#basket a {
	color: white;
}

#basket i {
	padding-right: 10px;
	position: relative;
	top: +4px;
}
